:root {
  --var: value;
}

@media only screen and (min-width: 600px) {
}

/***********/
/* Section */
/***********/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template-rows: 1fr auto; */
  justify-items: center;
  align-items: center;
  background-image: url('../assets/images/');
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
}
